<h2 class="pt-3 ml-5"><span style="background-color:#EEEEEE"><%= @shop.name %></span></h3>
<%= attachment_image_tag @shop, :image, width: '70%', height: 'auto', class: "rounded" %>
      </div>
      <h4>店舗説明</h4>
        <p><%= @shop.introduction %></p>
      <h4>サウナ情報</h4>
        <p><%= @shop.sauna%></p>

        <p>￥<%= @shop.price %>  </p>
      </div>
    </div>
</div>