<div class="container">
<h2 class="pt-3 ml-5"><span style="background-color:#EEEEEE"><%= @shop.name %></span></h3>

<div class="row pt-4 mb-5">
 <div class="col-md-6 pt-4">
   <%= attachment_image_tag @shop, :image, width: '90%', height: 'auto', class: "rounded" %>
   <div id="favorites_buttons_<%= @shop.id %>">
    <%= render partial: 'favorites/favorite',locals: { shop: @shop} %>
   </div>
 </div>
 <div class="col-md-6 pt-4">
   <h4>店舗説明</h4>
   <p><%= @shop.introduction %></p>
   <h4>サウナ情報</h4>
   <p><%= @shop.sauna%></p>
 </div>
</div>
  <table class="table table-bordered">
   <tr>
     <td>アクセス</td>
     <td>
     <p>〒<%= @shop.postal_code %></p>
     <%= @shop.address %>
     </td>
    </tr>
           <tr>
            <td>電話番号</td>
            <td>
             <p><%= @shop.phone_number %></p>
            </td>
           </tr>
           <tr>
            <td>利用金額</td>
            <td>
             <p>￥<%= @shop.price %></p>
            </td>
           </tr>
           <tr>
            <td>HP</td>
            <td>
             <p><%= @shop.homepage %></p>
            </td>
           </tr>
          </table>
    </div>

   <div class="row pt-4 mb-5">
    <div class="col-md-6 pt-4">
     <div class="new-comment">
      <%= form_with(model:[@shop, @comment], local: true) do |f| %>
      <div class = "pb-3"><%= f.text_field :title,placeholder: "タイトル" %></div>
       <%= f.text_area :text, size: "50x10", rows:'10',placeholder: "ユーザーの皆さんのリアルな声をここに！！" %>
      <div><%= f.submit "送信する" %></div>
      <% end %>
     </div>
   </div>
    <div class="col-md-6 pt-4">
     <div class="comments">
      <p>コメント件数：<%= @shop.comments.count %></p>
     <% @shop.comments.each do |comment| %>
      <%= comment.created_at.strftime('%Y/%m/%d') %><br><p>タイトル： <%= comment.title %></p><%= comment.text %>
      <% if comment.customer == current_customer %>
       <div class="comment-delete">
        <%= link_to "削除", shop_comment_path(comment.shop, comment), method: :delete %><br>
       </div>
      <%end %>
     <% end %>
     </div>
     <%= paginate @comments %>
   </div>

    <!--<div id="map" style="width:620px; height:400px;"></div>-->
    <div id="map"></div>
</div>


<script type="text/javascript">
  function initMap() {
// latitude,longitudeから位置を特定
    var test ={lat: <%= @shop.latitude %>, lng: <%= @shop.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 15,
              center: test
              });
    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);

    var contentString = '住所：<%= @shop.address %>';
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });

 // Map上の指定した位置にピンを挿して表示する
    var marker = new google.maps.Marker({
                  position:test,
                  map: map,
                  title: contentString
                 });

     marker.addListener('click', function() {
       infowindow.open(map, marker);
     });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
</script>

<style type="text/css">
  #map { height: 200px;
         width: 70%;}
</style>


<!--<script type="text/javascript">-->
<!--        function initMap() {-->
<!--          var maps = document.getElementById("map");-->
<!--          var opts = {-->
<!--            zoom: 15,-->
<!--            center: new google.maps.LatLng(<%#= @shop.latitude %>, lng: <%#= @shop.longitude %>)-->
<!--          };-->
<!--          var map = new google.maps.Map(maps, opts);-->
<!--        }-->
<!--</script>-->

<!--<script src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyDk2oZfkXExk_6nTFys94pglwU5jmUVTWI&callback=initMap" async defer >-->
<!--</script>-->