<h1>都道府県登録</h1>
<p>現在は近畿２府４県を初期登録しておりますが、今後全国版にアップデートすることを見据えて各都道府県を追加できるようにこちらのページを設けております</p>

<dev class="container">
  <%= form_with model:@genre, :url => {:action => :create}, local: true do |f| %>
  <div class="row">
    <div class="col-md-6 ml-5">
      <h3>都道府県一覧・追加</h3>
        <table class='table table-borderless'>
          <tr>
            <th><%= f.label :都道府県名 %></th>
	          <th><%= f.text_field :name, placeholder: "都道府県名", class: "form-control" %></th>
	          <th><%= f.submit '新規登録', class: "btn btn-success btn-lg" %></th>
          </tr>
        </table>
    </div>
  </div>
  <% end %>
  <div class="row">
    <div class="col-md-4 ml-5">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>都道府県</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @genres.each do |genre| %>
            <tr>
              <td><%= genre.name %></td>
              <td><%= link_to "編集する", edit_admin_genre_path(genre), class: "btn btn-info" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

