<h1>neppa</h1>

<p>サウナを愛する人にも、これからサウナに行ってみようという人にも
<br>
全てのサウナーに愛されるよう皆様に熱い想い、我々の熱波を届けられますように…
</p>

<%= link_to "neppaとは", about_path %>
<%= link_to "商品一覧", items_path %>
<%= link_to "店舗一覧", shops_path %>





<% if customer_signed_in? %>
      <li>
        <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
      </li>
    <% else %>
      <li>
        <%= link_to "新規登録", new_customer_registration_path %>
      </li>
      <li>
        <%= link_to "ログイン", new_customer_session_path %>
      </li>
<% end %>