<!--<div class="container">-->
<div id="splash">
  <div id="splash_logo">
   <!--<img src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/4-1-4/img/loading.svg" alt="" class="fadeUp">-->
   <%= image_tag "splogo.png", class: "fadeUp" %>
  </div>
</div>

<script>
  $(function(){
    setTimeout(function(){
      $(".loading").fadeOut();
    }, 2500);
  });
</script>




<h1 class="title">
  <span>n</span>
  <span>e</span>
  <span>p</span>
  <span>p</span>
  <span>a</span>
  <span class= "fas fa-wind"></span>
</h1>



  <!--<script src="https://code.jquery.com/jquery-3.4.1.min.js"-->
  <!--  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>-->
  <!--<script src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/4-1-4/js/4-1-4.js"></script>-->

<div id="box">
  <div id="images">
    <div class="image1">
      <%= link_to  about_path do %>
      <!--<div class="main_visual_top"></div>-->
      <!--<div class="main_visual_under"></div>-->
      <div class="main-visual-content">
       <p class="main-visual-text">
        →→ neppaについて知る ←←
       </p>
      </div>
      <% end %>
    </div>
    <div class="image2">
      <%= link_to shops_path do %>
      <!--<div class="main_visual_top"></div>-->
      <!--<div class="main_visual_under"></div>-->
      <div class="main-visual-content">
       <p class="main-visual-text">
        →→ 店舗一覧はコチラ ←←
       </p>
      </div>
      <% end %>
    </div>
    <div class="image3">
      <%= link_to items_path do %>
      <!--<div class="main_visual_top"></div>-->
      <!--<div class="main_visual_under"></div>-->
      <div class="main-visual-content">
       <p class="main-visual-text">
        →→ サウナグッズはコチラ ←←
       </p>
      </div>
       <% end %>
    </div>
    <div class="image4">
      <!--<div class="main_visual_top"></div>-->
      <!--<div class="main_visual_under"></div>-->
      <div class="main-visual-content">
       <p class="main-visual-text">
        サウナを愛する人にも、</br>
        これからサウナに行ってみようという人にも</br>
        全てのサウナーに愛されるよう皆様に熱い想い、</br>
        我々の熱波を届けられますように</br>
       </p>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="card sa sa--lr col-md-3 p-2 m-5" style="width: 18rem;">
    <div>
      <%= link_to  about_path do %>
    　<%= image_tag 'logo.png', class: "card-img-top rounded" %>
    </div>
    <div class="card-body">
      <p class="card-title">neppaって何？</p>
      <% end %>
      <p class="card-text">当サイトでどんなことが<br>利用できるかが記載されています</p>
    </div>
  </div>

  <div class="card sa sa--up col-md-3 p-2 m-5" style="width: 18rem;">
    <div>
      <%= link_to shops_path do %>
    　<%= image_tag 'sauna.jpg', class: "card-img-top rounded" %>
    </div>
    <div class="card-body">
      <p class="card-title">店舗一覧</p>
      <% end %>
      <p class="card-text">当サイトがオススメする<br>素敵なお店の一覧です</p>
    </div>
  </div>

  <div class="card sa sa--rl col-md-3 p-2 m-5" style="width: 18rem;">
    <div>
      <%= link_to items_path do %>
    　<%= image_tag 'ohuro.jpg', class: "card-img-top rounded" %>
    </div>
    <div class="card-body">
      <p class="card-title">商品一覧</p>
      <% end %>
      <p class="card-text">これからサウナライフを<br>始める方にも安心な<br>サウナグッズ販売コーナー</p>
    </div>
  </div>
</div>