<h1>商品カート</h1>
<% @sum = 0 %>
<% @cart_item.each do |cart_item| %>
  商品名<%= cart_item.item.name %>
  値段<%= cart_item.item.price %>
  <%= form_with model: cart_item, url: cart_item_path(cart_item), method: :patch, local: true do |f| %>
   <%= f.select :amount, [[1], [2], [3], [4],[5]] %>
   <%= f.submit '変更',class:"btn btn-success btn-sm" %>
  <% end %>
  合計金額<%= @sum += cart_item.item.price * cart_item.amount %>
<% end %>

<%= link_to "買い物続ける", items_path,class:"btn btn-primary" %>
<%= link_to "情報入力を続ける", new_order_path,class:"btn btn-success" %>