<div class="container pb-5 mb-5">
  <div class="row pt-4 mb-5">
    <div class="col-md-6 pt-4">
     <%= attachment_image_tag @item, :image, width: '100%', height: 'auto', class: "rounded" %>
    </div>
    <div class="col-md-6 pt-4">
     <p><strong><%= @item.name %></strong></p>
     <p><%= @item.introduction %></p>
     <p>￥<%= converting_to_jpy(@item.add_tax_price) %>（税込）  </p>
     <%= form_with model: @cart_item ,url: cart_items_path, method: :post, local: true do |f| %>
       <%= f.hidden_field :item_id, value: @item.id %>
       <%= f.select :amount, [[1], [2], [3], [4],[5]], class: "form-control"  %>
       <%= f.submit "カートに入れる",class:"btn btn-success" %>
     <% end %>
    </div>
  </div>
</div>