<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">
    <div data-turbolinks='false'><a class="navbar-brand" href="/"><%= image_tag 'logo_transparent.png', width: '25%' %></a></div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" ></span>
    </button>
     <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <% if customer_signed_in? %>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
            <%= link_to customer_path,class:"btn btn-link" do %>
             <span class="fas fa-laugh-wink nav-link text-light" aria-hidden="true"> マイページ</span>
            <% end %>
            </li>
            <li class="nav-item">
            <%= link_to  shops_path,class:"btn btn-link" do %>
             <span class="fas fa-hot-tub nav-link text-light" aria-hidden="true"> 店舗一覧</span>
            <% end %>
            </li>
            <li class="nav-item">
            <%= link_to  items_path,class:"btn btn-link" do %>
            <span class="fas fa-shopping-bag nav-link text-light" aria-hidden="true"> 商品一覧</span>
            <% end %>
            </li>
            <li class="nav-item">
            <%= link_to cart_items_path,class:"btn btn-link" do %>
            <span class="fas fa-shopping-cart nav-link text-light" aria-hidden="true"> 商品カート</span>
            <% end %>
            </li>
            <li class="nav-item">
              <%= link_to destroy_customer_session_path, method: :delete,class: "btn btn-link" do %>
              <span class="fas fa-sign-out-alt nav-link text-light" aria-hidden="true"> ログアウト</span>
            <% end %>
            </li>
          </ul>
        <% else %>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
            <%= link_to  shops_path,class:"btn btn-link" do %>
             <span class="fas fa-hot-tub nav-link text-light" aria-hidden="true"> 店舗一覧</span>
            <% end %>
            </li>
            <li class="nav-item">
            <%= link_to  items_path,class:"btn btn-link" do %>
            <span class="fas fa-shopping-bag nav-link text-light" aria-hidden="true"> 商品一覧</span>
            <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_customer_registration_path,class:"btn btn-link" do %>
              <span class="fas fa-user-plus nav-link text-light" aria-hidden="true"> 会員登録</span>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_customer_session_path,class:"btn btn-link" do %>
              <span class="fas fa-sign-in-alt nav-link text-light" aria-hidden="true"> ログイン</span>
              <% end %>
            </li>
          </ul>
        <% end %>

<div class="search-form">
  <%= form_with url: search_path, method: :get, local: true do |f| %>
    <%= f.text_field :keyword, value: @keyword, placeholder: "店舗名または都道府県" %>
    <%= f.submit "店舗検索" %>
  <% end %>
</div>
    </div>
  </div>
</nav>